In [1]:
from numpy import linalg
import numpy as np
import pandas as pd
import random
import scipy

In [2]:
score_df = pd.read_csv('/Users/stjepankusenic/POLAR_WEBE/data/processed/POLAR-GoogleNews-score-antonyms-inter.csv')
score_df.head()

,Unnamed: 0,attractiveunattractive,helpfulunhelpful,badgood,reliableunreliable,convenientinconvenient,usefulluseless,effectiveineffective,highlow,affordableexpensive,...,chaoticorganized,crowdedempty,calmnesspressure,environmentpollution,calmhectic,onlinestore,demandexcess,directvague,happyserious,commonlimited
0,Walmart,-0.187239,0.144308,-0.179098,-0.186284,0.354071,-0.032724,-0.020545,-0.081443,0.038223,...,0.129247,-0.041504,-0.120383,-0.083261,-0.103922,-0.523945,-0.013086,0.013808,0.016000,-0.049134
1,Amazon,-0.298275,0.112973,-0.130937,-0.408240,0.134471,0.249046,-0.214802,-0.110658,-0.080396,...,0.146367,0.194008,-0.141237,-0.003427,0.025548,0.117639,0.030908,0.098067,0.006028,-0.112901
2,Apple,-0.234943,-0.006147,-0.115844,-0.433990,-0.027993,0.324098,0.005907,0.006391,-0.166513,...,0.138053,0.180488,-0.032155,-0.055783,-0.005019,-0.115370,0.008692,0.014310,-0.039508,-0.038785
3,UnitedHealth_Group,-0.129075,0.003130,0.015440,-0.190212,0.084533,0.011616,0.196425,-0.363761,0.129187,...,-0.018124,0.025982,0.007438,-0.023506,-0.133033,0.074808,0.040004,0.098813,-0.046238,0.166646
4,Toyota_Motor,-0.246433,0.312323,-0.096663,0.058527,-0.200690,0.183629,0.066490,-0.029762,-0.066167,...,0.044192,-0.115358,0.083810,-0.107281,-0.162061,0.088037,0.283518,-0.071493,-0.097322,-0.067887

In [15]:
corporate=['corrupthonest','environmentpollution','sustainableunsustainable','bigsmall','harmfulhelpful','irrelevantrelevant']
score_df['corporate_score']= score_df[corporate].mean(axis=1)
product=['affordableexpensive','qualityworthless','commonlimited','usefulluseless','fewmany','demandexcess','valuableworthless','currentoutdated','complexsimple']
score_df['product_score']=score_df[product].mean(axis=1)
price=['cheappricy','highlow','fairunfair','partialtotal','reasonableunreasonable','accurateinaccurate','clearunclear']
score_df['price_score']=score_df[price].mean(axis=1)
vendor=['onlinestore','crowdedempty','cleandirty','conventionalinnovative','chaoticorganized','brightdull','convenientinconvenient','attractiveunattractive']
score_df['vendor_score']=score_df[vendor].mean(axis=1)
service=['friendlyrude','helpfulunhelpful','badgood','calmhectic','directvague','calmnesspressure','fastslow','responsiveunresponsive']
score_df['service_score']=score_df[service].mean(axis=1)
workforce=['poorwealthy','intelligentstupid','oldyoung','beginnerexperienced','managerworker','renownedunknown','successfulunsuccessful','reliableunreliable','enoughinsufficient']
score_df['workforce_score']=score_df[workforce].mean(axis=1)
marketing=['frequentinfrequent','boringinteresting','flashysimple','meaningfullmeaningless','happyserious','effectiveineffective','informativeuninformative','falsetrue']
score_df['marketing_score']=score_df[marketing].mean(axis=1)

In [16]:
scoreboard= score_df[['Unnamed: 0','product_score','price_score','vendor_score','service_score','workforce_score','marketing_score','corporate_score']]
scoreboard.head()

,Unnamed: 0,product_score,price_score,vendor_score,service_score,workforce_score,marketing_score,corporate_score
0,Walmart,0.002095,-0.033104,-0.059729,-0.002698,-0.087830,0.054223,0.001162
1,Amazon,-0.029469,0.021796,0.030451,-0.028272,-0.005654,-0.097460,-0.001108
2,Apple,-0.040169,-0.018522,-0.014627,-0.037419,0.063577,0.029370,-0.037648
3,UnitedHealth_Group,0.049417,-0.056622,0.014234,-0.004563,0.022135,-0.038488,-0.010405
4,Toyota_Motor,0.029733,0.036746,-0.067767,0.013481,-0.032888,0.007408,-0.036383